/* Styles for Single Price Component */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 100px;
  font-family: Karla,sans-serif;
  background-color: #EEE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* ============
    Typography
   ============ */

.price-component__h2 {
  color: #29A699;
}

.guarantee {
  font-weight: 700;
  color: hsl(71, 73%, 54%);
}

.price-component__content {
  color: hsl(218, 22%, 67%);
}

.subscription,
.why {
  color: hsl(204, 43%, 93%);
}

/* ========
    Layout
   ======== */

.price-component {
  border-radius: 5px;
  background-color: white;
  max-width: 750px;
  padding: 0;
  box-shadow: 0 0 15px 5px rgba(150,150,150,.2);
}

.price-component__h2 {
  padding: 0 1.4em;
}

.guarantee,
.price-component__content {
  max-width: 550px;
  padding: 0 2em;
}

.price-component__h2 {
  margin-top: 1.5em;
}

.price-component__content {
  margin-bottom: 2em;
  line-height: 1.5;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.subscription {
  background-color:  #29A699;
  padding: 2em;
}

.why {
  background-color: #4ABEBD;
  margin: 0;
  padding: 2em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.why__h3,
.subscription__heading {
  margin-top: 0;
}

.why__unordered-list,
.why__list-item {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.4;
}

/* ============
    Components
   ============ */

.subscription__pricing-p--large {
  font-size: 2rem;
  font-weight: 700;
}

.CTA {
  margin-top: 2em;
}

.CTA__anchor {
  display: block;
  background-color: hsl(71, 73%, 54%);
  color: white;
  padding: .7em 1.3em;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transform: scale(1);
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 0 0 15px 5px rgba(100,100,100,.35);
}

.CTA__anchor:hover,
.CTA__anchor:focus {
  transform: scale(1.1);
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 0 0 35px 5px rgba(100,100,100,.35);
}

/* ===============
    Media Queries
   =============== */

/* Added media query to remove padding on body for
   very small/actual cellphone screens */

@media screen and (max-width: 350px) {
  body {
    padding: 0;
  }
}

@media screen and (min-width: 575px) {
  .flex-container {
    flex-direction: row;
  }

  /* helps keep flex items full and evenly distributes the space */
  .subscription,
  .why {
    flex-grow: 1;
    flex-basis: 200px;
  }

  .subscription {
    border-bottom-left-radius: 5px;
  }

  .why {
    border-bottom-left-radius: 0px;
  }
}
